<% content_for :title, "New shape" %>

<h1>New shape</h1>

<%= turbo_frame_tag 'new_shape' do %>
<%= render "form", shape: @shape %>
<%- end -%>
<br>

<div>
  <%= link_to "Back to shapes", admin_shapes_path, class: 'btn btn-outline-secondary' %>
</div>
