<%= turbo_frame_tag dom_id(color) do %>
  <div class="d-flex-inline align-self-center">
    <%= color.name %>
  </div>
  <div class="ms-auto">
    <%= link_to 'Edit', edit_admin_color_path(color), class: 'btn btn-outline-secondary' %>
    <%= button_to "Delete", admin_color_path(color), method: :delete, form_class: 'd-inline', class: 'btn btn-secondary', form: { data: { turbo_confirm: "Are you sure?" } } %>
  </div>
<%- end -%>
