<% content_for :title, "Editing color" %>

<h1>Editing color</h1>

<%= render "form", color: @color %>

<br>

<div>
  <%= link_to "Show this color", admin_color_path(@color) %> |
  <%= link_to "Back to colors", admin_colors_path, class: 'btn btn-outline-secondary' %>
</div>
